# This file serves as an example of what your .env file should look like.
# Replace the variables defined here with those applicable on your own system.
# Then copy the contents into a file called ".env" and place it in project's
# root directory. 

WRDS_USERNAME=""
BASE_DIR = Path(__file__).resolve().parent.parent
DATA_DIR = BASE_DIR / "_data"
START_DATE = datetime.strptime("1944-01-01", "%Y-%m-%d")
END_DATE = datetime.strptime("2027-01-01", "%Y-%m-%d")
DATA_DIR = ""
OUTPUT_DIR = ""